@import url('https://fonts.googleapis.com/css?family=Roboto');
* { 
	margin: 0; 
	padding: 0; 
	border: 0; 
}

.wrapper {
	text-align: center;
	background-color: #4867AA;
	width: 40%;
	margin: 10% 30%;

}

h3 {
	font-family: 'Roboto', sans-serif;
	color: #333;
	margin: 10px;
}
select {
	border-radius: 30px;
	padding: 5px;
}

input {
	padding: 10px;
	border-radius: 30px;
}
button {
	padding: 10px;
	margin: 10px;
}

.result {
	text-align: center;
	background-color: #4867AA;
	width: 40%;
	height: 150px;
	margin: -8% 30%;
}

.result h3{
	padding: 10%;
}